.card {
    border-radius: 25px;
    border-width: 8px;
    border: gold;
    margin: 0 auto;
    border-top-style: dashed;
    border-bottom-style: dotted;
    border-left-style: double;
    border-right-style: hidden;
    background-color: aqua;
    width: 30%;

}
img{
    width: 100%;
}
.bten {
    background-color: red;
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
}
.bten:hover {
    background-color: green;
    cursor: pointer;
}
.bten:active {
    background-color: blue;
    cursor: pointer;
}
* {
    text-align: center;
}
.text {
    padding: 20px;
    color: teal;
}
