.Lua {
    text-transform: uppercase;
    color: green;
}
* {
    text-align: center;
}
.Byfron {
    border: 1px solid gold;
    
}
#Anticheat_Bypass{
    text-decoration: none;
    text-align: center;
}
.pO {
    color: red;
    text-align: center;
}
a{
    text-align: center;
    color: blue;
    text-decoration: none;
}
.lang {
    text-decoration-line: overline;
}
